{% extends "base.html" %}

{% block content %}
<!-- Page Header Start -->
<div class="page-header">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2>Burger Menu</h2>
      </div>
      <div class="col-12">
        <a href="/">Home</a>
        <a href="/burg">Burgers</a>
      </div>
    </div>
  </div>
</div>
<!-- Page Header End -->

<div class="testimonial">
    <div class="container">
        <div class="owl-carousel testimonials-carousel">
            <div class="testimonial-item">
                <img src="/static/img/burger2.png" alt="Image">
             
            <div class="testimonial-item">
                    <img src="/static/img/testimonial-2.jpg" alt="Image">
                
            <div class="testimonial-item">
                    <img src="/static/img/testimonial-3.jpg" alt="Image">
                
            <div class="testimonial-item">
                    <img src="/static/img/testimonial-4.jpg" alt="Image">
        </div>
    </div>
</div>
{% endblock %}
        