{% extends "base.html" %}
<title>
    {% block title %}BurgerMenu{% endblock title %}
</title>
{% block content %}
<!-- Page Header Start -->
<div class="page-header">
  <div class="container">
      <div class="row">
          <div class="col-12">
              <h2>Burger Menu</h2>
          </div>
          <div class="col-12">
              <a href="/">Home</a>
              <a href="/burgermenu">Menu</a>
          </div>
      </div>
  </div>
</div>
<!-- Page Header End -->


<!-- Checkout Start -->
<div class="container">
    <div class="cart-summary" id="cart-summary">
        <h2>Your Cart</h2>
        <div class="cart-items" id="cart-items">
        </div>
        <div class="cart-total" id="cart-total">
            <h3>Total: ₹0.00</h3>
        </div>
       <form action="/checkout" >
        <button type="submit" class="submit-btn" id="submit-btn">Checkout</button>
        <button type="button" class="btn btn-secondary" id="clear-cart-btn">Cleare Cart</button>
       </form>
    </div>
</div>
<!-- Checkout End -->

<!-- Burger Menu Start -->
<div class="team">
    <div class="container">
        <div class="section-header text-center">
            <p>Our Menu</p>
            <h2>Our All Burger</h2>
        </div>

        <div class="row">
            <!-- Vage Burger -->
            <div class="col-lg-3 col-md-6">
                <div class="team-item">
                    <div class="team-img">
                        <img src="/static/img/vageburger.png" alt="VageBurger">
                        <div class="team-social">
                            <a href="#"><i class="fa fa-eye"></i></a>
                        </div>
                    </div>
                    <div class="team-text">
                        <h2>Vage Burger</h2>
                        <p class="price" data-price="199.00"><strong>₹199.00</strong></p>
                        <button class="add-to-cart-btn btn btn-danger" data-name="Vage Burger" data-price="199.00">Add to Cart</button>
                    </div>
                </div>
            </div>

            <!-- Craiyon Burger -->
            <div class="col-lg-3 col-md-6">
                <div class="team-item">
                    <div class="team-img">
                        <img src="/static/img/craiyonburger.png" alt="CraiyonBurger">
                        <div class="team-social">
                            <a href="#"><i class="fa fa-eye"></i></a>
                        </div>
                    </div>
                    <div class="team-text">
                        <h2>Craiyon Burger</h2>
                        <p class="price" data-price="249.00"><strong>₹249.00</strong></p>
                        <button class="add-to-cart-btn btn btn-danger" data-name="Craiyon Burger" data-price="249.00">Add to Cart</button>
                    </div>
                </div>
            </div>

            <!-- Cheese Burger -->
            <div class="col-lg-3 col-md-6">
                <div class="team-item">
                    <div class="team-img">
                        <img src="/static/img/cheeseburger.png" alt="CheeseBurger">
                        <div class="team-social">
                            <a href="#"><i class="fa fa-eye"></i></a>
                        </div>
                    </div>
                    <div class="team-text">
                        <h2>Cheese Burger</h2>
                        <p class="price" data-price="99.00"><strong>₹99.00</strong></p>
                        <button class="add-to-cart-btn btn btn-danger" data-name="Cheese Burger" data-price="99.00">Add to Cart</button>
                    </div>
                </div>
            </div>

            <!-- Vegan Burger -->
            <div class="col-lg-3 col-md-6">
                <div class="team-item">
                    <div class="team-img">
                        <img src="/static/img/veganburger.png" alt="VeganBurger">
                        <div class="team-social">
                            <a href="#"><i class="fa fa-eye"></i></a>
                        </div>
                    </div>
                    <div class="team-text">
                        <h2>Vegan Burger</h2>
                        <p class="price" data-price="299.00"><strong>₹299.00</strong></p>
                        <button class="add-to-cart-btn btn btn-danger" data-name="Vegan Burger" data-price="299.00">Add to Cart</button>
                    </div>
                </div>
            </div>

            <!-- RedChilli NonVeg Burger -->
            <div class="col-lg-3 col-md-6">
                <div class="team-item">
                    <div class="team-img">
                        <img src="/static/img/redchillinonvegburger.png" alt="RedChilliNonVegBurger">
                        <div class="team-social">
                            <a href="#"><i class="fa fa-eye"></i></a>
                        </div>
                    </div>
                    <div class="team-text">
                        <h2>RedChilli NonVeg Burger</h2>
                        <p class="price" data-price="240.00"><strong>₹240.00</strong></p>
                        <button class="add-to-cart-btn btn btn-danger" data-name="RedChilli NonVeg Burger" data-price="240.00">Add to Cart</button>
                    </div>
                </div>
            </div>

            <!-- Double Dekker Burger -->
            <div class="col-lg-3 col-md-6">
                <div class="team-item">
                    <div class="team-img">
                        <img src="/static/img/doubledekkerburger.png" alt="DoubleDekkerBurger">
                        <div class="team-social">
                            <a href="#"><i class="fa fa-eye"></i></a>
                        </div>
                    </div>
                    <div class="team-text">
                        <h2>Double Dekker Burger</h2>
                        <p class="price" data-price="175.00"><strong>₹175.00</strong></p>
                        <button class="add-to-cart-btn btn btn-danger" data-name="Double Dekker Burger" data-price="175.00">Add to Cart</button>
                    </div>
                </div>
            </div>

            <!-- FrenchFries Hamburger -->
            <div class="col-lg-3 col-md-6">
                <div class="team-item">
                    <div class="team-img">
                        <img src="/static/img/frenchfrieshamburger.png" alt="FrenchFriesHamburger">
                        <div class="team-social">
                            <a href="#"><i class="fa fa-eye"></i></a>
                        </div>
                    </div>
                    <div class="team-text">
                        <h2>FrenchFries Hamburger</h2>
                        <p class="price" data-price="349.00"><strong>₹349.00</strong></p>
                        <button class="add-to-cart-btn btn btn-danger" data-name="FrenchFries Hamburger" data-price="349.00">Add to Cart</button>
                    </div>
                </div>
            </div>

            <!-- Capybara Meat Burger -->
            <div class="col-lg-3 col-md-6">
                <div class="team-item">
                    <div class="team-img">
                        <img src="/static/img/capybaraMeatburger.png" alt="CapybaraMeatBurger">
                        <div class="team-social">
                            <a href="#"><i class="fa fa-eye"></i></a>
                        </div>
                    </div>
                    <div class="team-text">
                        <h2>Capybara Meat Burger</h2>
                        <p class="price" data-price="119.00"><strong>₹119.00</strong></p>
                        <button class="add-to-cart-btn btn btn-danger" data-name="Capybara Meat Burger" data-price="119.00">Add to Cart</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Burger Menu End -->

<!-- Snacks Menu Start -->
<div class="team">
    <div class="container">
        <div class="section-header text-center">
            <p>Our Menu</p>
            <h2>Our All Snacks</h2>
        </div>

        <div class="row">
            <!-- Patato Fries -->
            <div class="col-lg-3 col-md-6">
                <div class="team-item">
                    <div class="team-img">
                        <img src="/static/img/patatofries.png" alt="Patato Fries">
                        <div class="team-social">
                            <a href="#"><i class="fa fa-eye"></i></a>
                        </div>
                    </div>
                    <div class="team-text">
                        <h2>Patato Fries</h2>
                        <p class="price" data-price="99.00"><strong>₹99.00</strong></p>
                        <button class="add-to-cart-btn btn btn-danger" data-name="Patato Fries" data-price="99.00">Add to Cart</button>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="team-item">
                    <div class="team-img">
                        <img src="/static/img/onionrings.png" alt="Onion Rings">
                        <div class="team-social">
                            <a href="#"><i class="fa fa-eye"></i></a>
                        </div>
                    </div>
                    <div class="team-text">
                        <h2>Millet Nachos</h2>
                        <p class="price" data-price="129.00"><strong>₹129.00</strong></p>
                        <button class="add-to-cart-btn btn btn-danger" data-name="Onion Rings" data-price="129.00">Add to Cart</button>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="team-item">
                    <div class="team-img">
                        <img src="/static/img/bananasnacks.png" alt="Banana Snacks">
                        <div class="team-social">
                            <a href="#"><i class="fa fa-eye"></i></a>
                        </div>
                    </div>
                    <div class="team-text">
                        <h2>Banana Snacks</h2>
                        <p class="price" data-price="199.00"><strong>₹199.00</strong></p>
                        <button class="add-to-cart-btn btn btn-danger" data-name="Banana Snacks" data-price="199.00">Add to Cart</button>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="team-item">
                    <div class="team-img">
                        <img src="/static/img/frenchfries.png" alt="French Fries">
                        <div class="team-social">
                            <a href="#"><i class="fa fa-eye"></i></a>
                        </div>
                    </div>
                    <div class="team-text">
                        <h2>French Fries</h2>
                        <p class="price" data-price="89.00"><strong>₹89.00</strong></p>
                        <button class="add-to-cart-btn btn btn-danger" data-name="French Fries" data-price="89.00">Add to Cart</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Snacks Menu End -->


<!-- Beverages Menu Start -->
<div class="team">
    <div class="container">
        <div class="section-header text-center">
            <p>Our Menu</p>
            <h2>Our All Beverages</h2>
        </div>

        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="team-item">
                    <div class="team-img">
                        <img src="/static/img/caramelmacchiato.png" alt="Caramel Macchiato">
                        <div class="team-social">
                            <a href="#"><i class="fa fa-eye"></i></a>
                        </div>
                    </div>
                    <div class="team-text">
                        <h2>Caramel Macchiato</h2>
                        <p class="price" data-price="145.00"><strong>₹145.00</strong></p>
                        <button class="add-to-cart-btn btn btn-danger" data-name="Caramel Macchiato" data-price="145.00">Add to Cart</button>
                    </div>
                </div>
            </div>


            <div class="col-lg-3 col-md-6">
                <div class="team-item">
                    <div class="team-img">
                        <img src="/static/img/singlecupbrew.png" alt="Single Cup Brew">
                        <div class="team-social">
                            <a href="#"><i class="fa fa-eye"></i></a>
                        </div>
                    </div>
                    <div class="team-text">
                        <h2>Single Cup Brew</h2>
                        <p class="price" data-price="149.00"><strong>₹149.00</strong></p>
                        <button class="add-to-cart-btn btn btn-danger" data-name="Single Cup Brew" data-price="149.00">Add to Cart</button>
                    </div>
                </div>
            </div>


            <div class="col-lg-3 col-md-6">
                <div class="team-item">
                    <div class="team-img">
                        <img src="/static/img/caffeamericano.png" alt="Caffe Americano">
                        <div class="team-social">
                            <a href="#"><i class="fa fa-eye"></i></a>
                        </div>
                    </div>
                    <div class="team-text">
                        <h2>Caffe Americano</h2>
                        <p class="price" data-price="99.00"><strong>₹99.00</strong></p>
                        <button class="add-to-cart-btn btn btn-danger" data-name="Caffe Americano" data-price="99.00">Add to Cart</button>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="team-item">
                    <div class="team-img">
                        <img src="/static/img/standardblackcoffee.png" alt="Standard black coffee">
                        <div class="team-social">
                            <a href="#"><i class="fa fa-eye"></i></a>
                        </div>
                    </div>
                    <div class="team-text">
                        <h2>Standard black coffee</h2>
                        <p class="price" data-price="175.00"><strong>₹175.00</strong></p>
                        <button class="add-to-cart-btn btn btn-danger" data-name="Standard black coffee" data-price="175.00">Add to Cart</button>
                    </div>
                </div>
            </div>

<!-- Beverages Menu End -->



<script src="script.js"></script>
<script src="script.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', () => {
        const cartItemsContainer = document.getElementById('cart-items');
        const cartTotal = document.getElementById('cart-total');
        const clearCartBtn = document.getElementById('clear-cart-btn');
        const submitBtn = document.getElementById('submit-btn');

        // Function to update the total price
        function updateTotal() {
            let total = 0;
            const itemElements = cartItemsContainer.getElementsByClassName('cart-item');

            Array.from(itemElements).forEach(item => {
                const priceElement = item.querySelector('.price');
                const price = parseFloat(priceElement.getAttribute('data-price'));
                const quantity = parseInt(item.querySelector('input[type="number"]').value);
                total += price * quantity;
            });

            cartTotal.querySelector('h3').textContent = `Total: ₹${total.toFixed(2)}`;
            localStorage.setItem('cartTotal', total.toFixed(2));
        }

        // Function to add an item to the cart
        function addItemToCart(name, price) {
            const existingItem = Array.from(cartItemsContainer.getElementsByClassName('cart-item')).find(item => {
                return item.querySelector('h3').textContent === name;
            });

            if (existingItem) {
                const quantityInput = existingItem.querySelector('input[type="number"]');
                quantityInput.value = parseInt(quantityInput.value) + 1;
            } else {
                const cartItem = document.createElement('div');
                cartItem.className = 'cart-item';
                cartItem.innerHTML = `
                    <img src="/static/img/${name.replace(/ /g, '').toLowerCase()}.png" alt="${name}">
                    <div class="item-details">
                        <h3>${name}</h3>
                        <p class="price" data-price="${price}">₹${price}</p>
                        <input type="number" value="1" min="1">
                        <button class="remove-btn">Remove</button>
                    </div>
                `;
                cartItemsContainer.appendChild(cartItem);
            }

            updateTotal();
        }

        // Clear Cart functionality
        clearCartBtn.addEventListener('click', () => {
            cartItemsContainer.innerHTML = ''; // Clear all items from the cart
            updateTotal(); // Update total to ₹0.00
            localStorage.removeItem('cartItems'); // Clear saved cart from local storage
            localStorage.setItem('cartTotal', '0.00'); // Reset cart total in local storage
        });

        // Checkout functionality
        submitBtn.addEventListener('click', (event) => {
            const itemElements = cartItemsContainer.getElementsByClassName('cart-item');
            if (itemElements.length === 0) {
                event.preventDefault(); // Prevent form submission
                alert('Your cart is empty. Please add items to the cart to proceed with checkout.');
            }
        });

        // Event delegation for handling clicks on "Add to Cart" buttons
        document.addEventListener('click', event => {
            if (event.target.classList.contains('add-to-cart-btn')) {
                const button = event.target;
                const name = button.getAttribute('data-name');
                const price = parseFloat(button.getAttribute('data-price'));
                addItemToCart(name, price);
            }
        });

        // Event delegation for handling quantity changes
        cartItemsContainer.addEventListener('input', event => {
            if (event.target.type === 'number') {
                updateTotal();
            }
        });

        // Event delegation for handling remove button clicks
        cartItemsContainer.addEventListener('click', event => {
            if (event.target.classList.contains('remove-btn')) {
                const item = event.target.closest('.cart-item');
                item.remove();
                updateTotal();
            }
        });

        // Load cart items from local storage
        function loadCart() {
            const savedCart = JSON.parse(localStorage.getItem('cartItems')) || [];
            savedCart.forEach(item => {
                addItemToCart(item.name, item.price);
                const cartItem = cartItemsContainer.lastElementChild;
                cartItem.querySelector('input[type="number"]').value = item.quantity;
            });
            updateTotal();
        }

        // Save cart items to local storage
        function saveCart() {
            const cartItems = [];
            const itemElements = cartItemsContainer.getElementsByClassName('cart-item');
            Array.from(itemElements).forEach(item => {
                const name = item.querySelector('h3').textContent;
                const price = parseFloat(item.querySelector('.price').getAttribute('data-price'));
                const quantity = parseInt(item.querySelector('input[type="number"]').value);
                cartItems.push({ name, price, quantity });
            });
            localStorage.setItem('cartItems', JSON.stringify(cartItems));
        }

        // Save cart data on page unload
        window.addEventListener('beforeunload', saveCart);

        // Initial load of cart items
        loadCart();
    });
</script>

 
{% endblock %}
        
