 {% extends "base.html" %}
 <title>
    {% block title %}Checkout{% endblock title %}
</title>
    {% block content %}
    <!-- Page Header Start -->
    <div class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2>Checkout</h2>
                </div>
            </div>
        </div>
    </div>
    <!-- Page Header End -->

    <!-- Checkout Start -->
    <div class="container" style="padding-right: 688px;">
        <div class="cart-summary" id="cart-summary">
            <h2>Your Cart</h2>
            <div class="cart-items" id="cart-items">
                <!-- Cart items will be dynamically added here -->
            </div>
            <div class="cart-total" id="cart-total">
                <h3>Total: $0.00</h3>
            </div>
            <form action="/checkoutsteps">
                <button type="submit" class="submit-btn" id="submit-btn">Place Order</button>
            </form>
        </div>
    </div>
    
    <!-- Checkout End -->

    <script src="/static/js/checkout.js"></script>
    
    {% endblock %}

