{% load static %}
<title>
    {% block title %}Login{% endblock title %}
</title>
{% block content %}

    <!-- ===== Iconscout CSS ===== -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <!-- ===== CSS ===== -->
    <link rel="stylesheet" href="{% static '/css/login.css' %}">

    <div class="container">
        <div class="forms">

            <div class="form login">

            {% for msg in messages %}
                <div class="alert alert-{{ msg.tags }} alert-dismissible fade show" role="alert">
                    <strong>{{ msg }}</strong>
                </div>
            {% endfor %}

                <span class="title">Login</span>
                <form action="/login/" method="post">
                    {% csrf_token %}
                    <div class="input-field">
                        <input class="form-control p-2" id="email" name="email" placeholder="Enter your email" required>
                        <i class="uil uil-envelope icon"></i>
                    </div>

                    <div class="input-field">
                        <input class="form-control p-2 password" id="pass1" name="pass1" placeholder="Enter your password" type="password" required>
                        <i class="uil uil-lock icon"></i>
                        <i class="uil uil-eye-slash showHidePw" id="togglePassword"></i>
                    </div>

                    <div class="checkbox-text">
                        <div class="checkbox-content">
                            <input type="checkbox" id="logCheck" required>
                            <label for="logCheck" class="text">Remember me</label>
                        </div>
                        
                        <a href="/request-reset-email" class="text">Forgot password?</a>
                    </div>

                    <div class="input-field button">
                        <input type="submit" value="Login">
                    </div>

                </form>
                <div class="login-signup">
                    <span class="text">Not a member?
                        <a href="/signup/" class="text signup-link">Signup</a>
                    </span>
                </div>
                <a href="/" class="btn btn-link">Go Back</a>
            </div>

        </div> <!-- .forms -->
    </div> <!-- .container -->

    <script src="/static/assets/script.js"></script> 

{% endblock %}
