{% load static %}
{% block content %}
<title>
  {% block title %}Signup{% endblock title %}
</title>

    <link rel="stylesheet" href="{% static '/css/signup.css' %}">

  <div class="wrapper">

    {% for msg in messages %}
    <div class="alert alert-{{ msg.tags }} alert-dismissible fade show" role="alert">
        <strong>{{ msg }}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{% endfor %}

    <h2>Registration</h2>
    <form action="/signup/" method="post">
      {% csrf_token %}

      <div class="input-box">
        <input
        type="email"
        class="form-control p-2"
        id="email"
        name="email"
        placeholder="Enter Your Email"
        required
      /></div>

      <div class="input-box">
        <input
        type="password"
        class="form-control p-2"
        id="pass1"
        name="pass1"
        placeholder="Create Password"
        required
      /></div>

      <div class="input-box">
        <input
        type="password"
        class="form-control p-2"
        id="pass2"
        name="pass2"
        placeholder="Confirm Password"
        required
      /></div>

      <div class="policy">
        <input type="checkbox">
        <h3>I accept all terms & condition</h3>
      </div>

      <div class="input-box button">
        <input type="Submit" value="Register Now">
      </div>

      <div class="text">
        <h3>Already have an account? <a href="/login/">Login</a></h3>
      </div>
    </form>
  </div>

  <script src="/static/assets/script.js"></script> 


    {% endblock  %}